## <font color='#000033'> NumPy </font>

>**NumPy** stands for **Numerical Python** or **Numeric Python**. It is the core library for numerical computing in Python. It provides a <ins>high-performance multidimensional array object</ins>, and tools for working with these arrays. It also has strong integration with **Pandas**. 

[Resource](https://numpy.org/doc/stable/user/quickstart.html)

Suppose we want to use climate data like the average temperature (in degrees Fahrenheit), rainfall (in millimeters) & average relative humidity (in percentage) to predict crop yield as a linear equation.

                               crop_yield = w1 * temperature + w2 * rainfall + w3 * humidity

In [ ]:
w1, w2, w3 = 0.3, 0.75, 0.6

<img src="data.png">
<!-- "https://imgur.com/mXPh8aP" -->

In [ ]:
temp_A, rain_A, humidity_A = 92, 99, 60

cropYield_A = w1 * temp_A + w2 * rain_A + w3 * humidity_A

cropYield_A

In [ ]:
# for multiple regions

A = [92, 99, 60]
B = [81, 124, 58]
C = [73, 85, 77]
D = [107, 71, 41]

W = [w1, w2, w3]

In [ ]:
def crop_yield(region, weights):
    result = 0
    for x, w in zip(region, weights):
        result += x * w
    return result

In [ ]:
crop_yield(A, W)

In [ ]:
crop_yield(B, W)

In [ ]:
crop_yield(C, W)

In [ ]:
%timeit crop_yield(D, W)

In [ ]:
import numpy as np

In [ ]:
# create numpy array
arr_A = np.array([92, 99, 60])
arr_B = np.array([81, 124, 58])
arr_C = np.array([73, 85, 77])
arr_D = np.array([107, 71, 41])

arr_W = np.array([w1, w2, w3])

In [ ]:
type(arr_A)

In [ ]:
arr_A[0]

In [ ]:
arr_W[:3]

In [ ]:
np.dot(arr_A, arr_W)

In [ ]:
%timeit np.dot(arr_D, arr_W)

In [ ]:
help(np.dot)

In [ ]:
# element wise multiplication, then sum
arr_A * arr_W

## <font color='#000033'> Pandas </font>

> **Pandas** is an open-source Python library that provides high-performance, easy-to-use data structures and tools that makes importing and analyzing data much easier. The data manipulation capabilities of pandas are built on top of the **NumPy** library. 

Visit the official [pandas](https://pandas.pydata.org/) page to learn more.
There are two most frequently used data structures in pandas â€“ **Series** and **DataFrame**. 

**<ins>Series</ins>**

`Series` is a `one-dimensional labeled array` capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

**<ins>DataFrames</ins>** 

Pandas key data structure is called the `DataFrame`. DataFrames is a `2-dimensional labeled data structure` that allow us to store and manipulate tabular data in `rows of observations` and `columns of variables` with a column of potentially same data type.

##  <font color='#99004C'> 1. How to import pandas and check the version? </font>

In [ ]:
import pandas as pd
print(pd.__version__)

In [ ]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

##  <font color='#99004C'> 2. How to create a series from a list, numpy array and dict? </font>
>Create a pandas series from each of the items below: a `list`, `numpy array` and a `dictionary`.

In [ ]:
mylist = list('abcdefghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [ ]:
print(mylist, myarr, mydict, sep = '\n\n')

In [ ]:
ser_lst = pd.Series(mylist)
ser_arr = pd.Series(myarr)
ser_dict = pd.Series(mydict)

In [ ]:
print("Series from List : \n",ser_lst.head(),
      "\n\nSeries from Array : \n", ser_arr.head(), 
      "\n\nSeries from Dictionary : \n",ser_dict.head())

##  <font color='#99004C'> 3. How to convert a series into a dataframe? </font>
>Convert the series `ser_dict` into a dataframe. Try to convert its index as another column on the dataframe.

In [ ]:
# Solution1 
df = ser_dict.to_frame()
df.head()

In [ ]:
# Solution 2
df = pd.DataFrame(ser_dict)
df.head()

In [ ]:
df_new = df.reset_index()
df_new.head()

##  <font color='#99004C'> 4. How to combine many series to form a dataframe? </font>
>Combine `ser_lst` and `ser_arr` to form a dataframe.

In [ ]:
# Solution 1
df = pd.concat([ser_lst, ser_arr], axis=1)
df.head()

In [ ]:
# df.columns
# df.columns = ['col1', 'col2']
# df.head()

In [ ]:
# Solution 2
df = pd.DataFrame({'col1': ser_lst, 'col2': ser_arr})
df.head()

##  <font color='#99004C'> 5. How to assign name to the series index? </font>
>Give a name to the series `ser_lst` calling it `alphabets`.

In [ ]:
ser_lst.name = "alphabets"
ser_lst.head()

##  <font color='#99004C'>6. How to get the items of series A not present in series B? </font>
>From `ser1` remove items present in `ser2`.

In [ ]:
ser1 = pd.Series([1, 2, 3, 4, 5, 9, 1])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [ ]:
ser1[~ser1.isin(ser2)]

##  <font color='#99004C'> 7. How to get the items not common to both series A and series B? </font>
>Get all items of `ser1` and `ser2` that are either in one and not common to both.

In [ ]:
#Solution 1
ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersection
ser_u[~ser_u.isin(ser_i)]

In [ ]:
#Solution 2
ser1[~ser1.isin(ser2)].append(ser2[~ser2.isin(ser1)])

##  <font color='#99004C'> 8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series? </font>
> Compute the `minimum`, `25th percentile`, `median`, `75th`, and `maximum` of `ser`.

In [ ]:
ser = pd.Series(np.random.normal(10, 5, 25))
ser.head()

In [ ]:
# Solution 1
np.percentile(ser, q=[0, 25, 50, 75, 100])

In [ ]:
#Solution 2
ser.quantile([0, 0.25, 0.5, 0.75, 1])

##  <font color='#99004C'> 9. How to bin a numeric series to groups of equal size? </font>
>Bin the series `sales` into 4 equal bins, i.e. `quartiles` and replace the values with the bin name.

In [ ]:
sales = pd.Series(np.random.uniform(300, 5000, 50)).map(int)
sales.head()

In [ ]:
# Solution 1
pd.qcut(sales, q=4, labels = ["very low", "low", "medium", "high"])

In [ ]:
# Solution 2
pd.qcut(sales, q=[0, 0.25, 0.5, 0.75, 1], labels = ["very low", "low", "medium", "high"])

In [ ]:
pd.DataFrame({"sales": sales, "sales_bin":pd.qcut(sales, q=4, labels = ["very low", "low", "medium", "high"])})

##  <font color='#99004C'> 10. How to get frequency counts of unique items of a series? </font>
>Calculate the frequency counts of each unique value `s`. From `s`, keep the `top 2 most frequent` items as it is and replace everything else as `Other`.

In [ ]:
s = pd.Series(np.random.randint(1, 5, [12]))
s

In [ ]:
# Frequency count
s.value_counts()

In [ ]:
# Except the top 2 most frequent items, replace rest by 'Others'.
print("Top 2 Freq: ",s.value_counts().index[:2].tolist())

In [ ]:
# Rename all except top2 most frequent as "Others"
# Solution 1
s.where(s.isin(s.value_counts().index[:2]), "Others")

In [ ]:
# Solution 2
s[s.isin(s.value_counts().index[2:])] = "Others"
# s[~s.isin(s.value_counts().index[:2])] = "Others"
s

##  <font color='#99004C'> 11. How to convert a numpy array to a dataframe of given shape? </font>
> Reshape the series `arr` into a dataframe with 7 rows and 5 columns.

In [ ]:
arr = np.random.randint(1, 10, 35)
arr.shape

In [ ]:
arr

In [ ]:
df = pd.DataFrame(arr.reshape(7,5))
df

##  <font color='#99004C'> 12. How to extract items at given positions from a series? </font>
>From `ser`, extract the items at positions in list `pos`.

In [ ]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [ ]:
# Solution 1, by index
ser.iloc[pos]

In [ ]:
# Solution 2
ser.take(pos)

In [ ]:
# Solution 3
ser[ser.index.isin(pos)]

In [ ]:
ser.loc[[1,2]]

In [ ]:
# Solution 
# ser_dict.head()
pos = ["a", "e", "i", "o", "u"]
ser_dict.loc[pos] # by label

In [ ]:
# Solution 4
ser_dict[ser_dict.index.isin(pos)]

##  <font color='#99004C'> 13. How to stack two series vertically and horizontally ? </font>
>Stack ser1 and ser2 vertically and horizontally (to form a dataframe).

In [ ]:
print(ser1)
print(ser2)

In [ ]:
# Solution 1
df_vertical = pd.concat([ser1, ser2]) # default axis = 0
df_horizontal = pd.concat([ser1, ser2], axis = 1)

In [ ]:
# Solution 2, horizontal
df_h = pd.DataFrame(ser1.append(ser2))

In [ ]:
# From numpy arrays of equal length
arr1 = np.array([1, 2, 3])
arr2 = np.array([2, 3, 4])

df_vv = pd.DataFrame(np.vstack((arr1, arr2)))  # np.stack((arr1, arr2))
df_hh = pd.DataFrame(np.stack((arr1, arr2), axis = 1))

display(df_vv)
display(df_hh)

##  <font color='#99004C'> 14.How to get the positions of items of series A in another series B? </font>
>Get the positions of items of `s2` in `s1` as a list.

In [ ]:
s1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
s2 = pd.Series([1, 3, 10, 13])

In [ ]:
# not ordered correctly
s1[s1.isin(s2)].index.tolist()

In [ ]:
# Solution 1
[s1[s1 == i].index[0] for i in s2]

In [ ]:
# Solution 2
[pd.Index(s1).get_loc(i) for i in s2]

In [ ]:
# Solution 3
[np.where(i == s1)[0].tolist()[0] for i in s2]

In [ ]:
#Solution 4
[s1.where(i == s1).first_valid_index() for i in s2]

In [ ]:
#Solution 5
[list(s1).index(i) for i in s2]

##  <font color='#99004C'> 15. How to compute differences between consequtive numbers of a series? </font>
>Find the difference of differences between the consequtive numbers of `s`.

In [ ]:
s = pd.Series(np.random.randint(1,50, [10]))

In [ ]:
# Solution 1
pd.DataFrame({"s": s, "difference" :s.diff()})

In [ ]:
# Solution 2, using shift()
pd.DataFrame({"s": s, "shifted_s" :s.shift(-1), "difference" : s- s.shift()})

##  <font color='#99004C'> 16. How to convert a series of date-strings to a timeseries? </font>
> Get the day of month, week number, day of year and day of week from `t`. Convert the dates to a standard format `DD-MMM-YYYY`. Find link to date formats [here](https://www.w3schools.com/python/python_datetime.asp).

In [ ]:
t = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
t.head()

In [ ]:
time = pd.to_datetime(t)

In [ ]:
# day of month
print("Date: ", time.dt.day.tolist())

# week number
print("Week number: ", time.dt.weekofyear.tolist())

# day of year
print("Day number of year: ", time.dt.dayofyear.tolist())

# day of week
print("Day of week: ", time.dt.strftime("%A").tolist())

##  <font color='#99004C'> 17. How to fill an intermittent time series so all missing dates show up with values of previous non-missing date? </font>
>`t` has missing dates and values. Make all `missing dates appear and fill up with value from previous(next) date`.

In [ ]:
t = pd.Series([1,10,3,np.nan], index=pd.to_datetime(['2000-01-01', '2000-01-03', '2000-01-06', '2000-01-08']))
t

In [ ]:
# Fill with previous value, forward fill
t.resample('D').ffill()

In [ ]:
# Fill with next value, backward fill
t.resample('D').bfill()

##  <font color='#99004C'> 18. How to get the mean of a column grouped by another column? </font>
>Compute the mean of `weights` grouped by `fruits` in a dataframe.

In [ ]:
fruits = pd.Series(np.random.choice(['apple', 'banana', 'carrot'], 10))
weights = pd.Series(np.linspace(1, 10, 10))

df = pd.DataFrame({"fruits": fruits, "weights": weights})
df.head()

In [ ]:
df.groupby("fruits").mean()

##  <font color='#99004C'> 19. How to import data to create a dataframe? </font>
> [read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)  
[read_excel](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_excel.html)

In [ ]:
# Read a CSV file as pandas dataframe

df1 = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")

In [ ]:
# check dimension of dataframe
df1.shape

In [ ]:
d1 = pd.read_csv('C:\\Users\\Swarnali\\Assignments\\Data Analysis\\BostonHousing.txt', sep = '\t') #tab separated
d2 = pd.read_csv(r'C:\Users\Swarnali\Assignments\Data Analysis\BostonHousing_idx.csv' , index_col= 'my_index') #with my_index

display(d1.head()), display(d2.head())

In [ ]:
# Read a XLSX file as pandas dataframe
# download data from https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.xlsx
df2 = pd.read_excel(r"https://github.com/owid/covid-19-data/blob/master/public/data/owid-covid-data.xlsx")

In [ ]:
df1.head()

##  <font color='#99004C'> 20. How to modify data while importing as dataframe? </font>
> How to import only every `nth row` from a csv file to create a dataframe?
>> Import every 50th row of [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) as a dataframe.

In [ ]:
# Solution 1: Use chunks and for-loop
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50)
df1 = pd.DataFrame()
for chunk in df:
    df1 = df1.append(chunk.iloc[0,:])
    
df1

In [ ]:
# Solution 2: Use chunks and list comprehension
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', chunksize=50, header = 0)
df2 = pd.concat([chunk.iloc[0] for chunk in df], axis=1)
df2 = df2.transpose()
df2

In [ ]:
# Solution 3: Use csv reader
import csv          
with open(r"C:\Users\Administrator\Desktop\Tutorial\Data_Analysis\BostonHousing.csv", 'r') as f:
    reader = csv.reader(f)
    header = None
    out = []
    for i, row in enumerate(reader):
        if i == 0:
            header = row
        if i%50 == 1:
            out.append(row)

df2 = pd.DataFrame(out, columns = header)
df2

>How to change column values when importing csv to a dataframe?
>> Change the `medv` (median house value) column so that `values <= 25 becomes Low and > 25 becomes High`.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', 
                 converters={'medv': lambda x: 'High' if float(x) > 25 else 'Low'})

df.head()

In [ ]:
pd.concat([df.medv, df1.medv], axis = 1).iloc[df1.index]

> How to import only specified columns from a csv file?
>> Import `crim` and `medv` columns of the [BostonHousing dataset](https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv) as a dataframe.

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv', usecols=['crim', 'medv'])
df.head()

>How to get the `nrows, ncolumns, datatype, column names, summary stats of each column, summary` of a dataframe? Also get the array and list equivalent.
>> Get the number of rows, columns, datatype and summary statistics of each column of the [Cars93](https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv) dataset. Also get the numpy array and list equivalent of the dataframe.

In [ ]:
cars = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
cars.head()

In [ ]:
#  number of rows and columns, dimension of dataframe
print("Dimension : ",cars.shape)
print("\nRows : ", cars.shape[0], "\nColumns : ", cars.shape[1])
# print("\nRows : ", len(cars), "\nColumns : ", len(cars.columns))

In [ ]:
# list of column names
cars.columns

In [ ]:
# datatypes
print(cars.dtypes)

In [ ]:
# how many columns under each dtype
print(cars.dtypes.value_counts())

In [ ]:
# Summary of cars dataframe
cars.info()

In [ ]:
# summary statistics
cars_stats = cars.describe()
cars_stats.T

In [ ]:
# numpy array 
cars_arr = cars.values
# list
cars_list = cars.values.tolist()
print(cars_arr, "\n\n", cars_list)

>How to rename a specific columns in a dataframe?
>> Rename the column Type as `CarType` in cars and replace the `.` in column names with `_`.

In [ ]:
cars = pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
print(cars.columns) 

# Rename Type to CarType

# Solution 1
cars = cars.rename(columns = {'Type': 'CarType'})

# Solution 2
# cars.rename(columns = {'Type': 'CarType'}, inplace = True)


# Solution 3, by column index
# cars.columns.values[2] = "CarType"

cars.head()

In [ ]:
# Replace with snake casing
print(cars.columns)
cars.columns = cars.columns.map(lambda x: x.replace('.', '_'))
print('\n>>>', cars.columns)

##  <font color='#99004C'> 21. How to check if a dataframe has missing values? </font>
>Check if `cars` has `any missing values`, and `missing values by columns` and `count of missing values`.

In [ ]:
# Any missing value in cars dataframe?
cars.isnull().values.any()

In [ ]:
# Any missing value in cars dataframe by columns?
cars.isnull().any()

In [ ]:
# Count of missing values by columns
cars.isnull().sum()

In [ ]:
# Maximum missing values in which column?

# Solution 1
cars.columns[cars.isnull().sum().argmax()]


#Solution 2
# cars.isnull().sum().idxmax()

>How to replace missing values of multiple numeric columns with the mean?
>> Replace missing values in `Min.Price` and `Max.Price` columns with their respective mean.

In [ ]:
cars.head()

In [ ]:
cars.Min_Price.mean()

In [ ]:
cars.Max_Price.mean()

In [ ]:
cars.Min_Price.fillna(cars.Min_Price.mean())

In [ ]:
cars.Max_Price.fillna(cars.Max_Price.mean())

In [ ]:
cars[["Min_Price", "Max_Price"]].apply(lambda x: x.fillna(x.mean()))

##  <font color='#99004C'> 22.How to filter every nth row in a dataframe? </font>
>From `cars`, filter the `'Manufacturer', 'Model' and 'Type'` for every `20th row starting from 1st (row 0)`.

In [ ]:
cars.iloc[::20, :][['Manufacturer', 'Model', 'CarType']]

##  <font color='#99004C'> 23. How to create a primary key index by combining relevant columns? </font>
>In `cars`, `replace NaNs with missing in columns Manufacturer, Model and Type` and create a index as a combination of these three columns and check if the index is a primary key.

In [ ]:
cars[['Manufacturer', 'Model', 'CarType']] = cars[['Manufacturer', 'Model', 'CarType']].fillna('missing')
cars.index = cars.Manufacturer + '_' + cars.Model + '_' + cars.CarType
cars.head()

In [ ]:
# reset index
# cars.reset_index(drop = True, inplace = True)
# cars.head()

##  <font color='#99004C'> 24. How to get the row number of the largest value in a column? </font>
> Find the row position of the `largest value` of column `Price` in `cars`.

In [ ]:
# get row number of largest price
cars.Price.argmax()

In [ ]:
# get row containing the largest price
cars[cars.Price == max(cars.Price)]

In [ ]:
cars.sort_values(by = "Price", ascending = False)

> Find the row position of the `nth largest value` of column `Price` in `cars`.

In [ ]:
# get row number of nth(5th) largest price, 
n = 5

# Solution 1
# cars.sort_values(by = "Price", ascending = False).index[n-1]

# Solution 2
# row_5 = cars.Price.argsort().values[-5]
# cars.iloc[[row_5]]

##  <font color='#99004C'> 25. How to find and cap outliers from a series or dataframe column? </font>
> Replace all values of series `s` in the `lower 5%ile and greater than 95%ile with respective 5th and 95th %ile value`.

In [ ]:
s = pd.Series(np.logspace(-2, 2, 30))

# Solution 1
def cap_outliers(ser, low_perc, high_perc):
    low, high = ser.quantile([low_perc, high_perc])
    print(low_perc, '%ile: ', low, '|', high_perc, '%ile: ', high)
    ser[ser < low] = low
    ser[ser > high] = high
    return(ser)

capped1 = cap_outliers(s, .05, .95)
capped1

In [ ]:
# Solution 2
from scipy.stats.mstats import winsorize

capped2 = pd.Series(winsorize(s, limits=[0.05, 0.05]).tolist())

##  <font color='#99004C'> 26. How to get correlation of numeric variables? </font>
>  Find the `maximum possible correlation value of each column against other columns`.

In [ ]:
cars.corr()

In [ ]:
# abs_corrmat
corr_matrix = cars.corr()

#max correlation val
max_corr = corr_matrix.apply(lambda x: sorted(x, key = abs)[-2])
max_corr

In [ ]:
#max correlation variable
corr_matrix.apply(lambda x: x.nlargest(2).index[-1])

##  <font color='#99004C'> 27. How to normalize all columns in a dataframe? </font>
> Normalize all numeric columns.

In [ ]:
cars.apply(lambda x: (x- x.mean())/ x.std() if x.dtypes!= 'O' else x)

##  <font color='#99004C'> 28.How to get the nth largest value of a column when grouped by another column? </font>
> In `cars`, find the `second largest` value of Price for `CarType`.

In [ ]:
# Solution 1
cars.groupby('CarType')['Price'].apply(lambda x:x.nlargest(2).tail(1)).reset_index()[["CarType", "Price"]]


# Solution 2
# cars.groupby('CarType').agg({'Price': lambda x: sorted(x.nlargest(2))[0]})

##  <font color='#99004C'> 29. How to compute grouped mean on pandas dataframe and keep the grouped column as another column (not index)? </font>
>In `cars`, compute the `mean Price` of every `CarType`, while keeping the `carType` as another column instead of an index.

In [ ]:
# Solution 1
cars.groupby("CarType")["Price"].mean().reset_index()

In [ ]:
# Solution 2
cars.groupby("CarType", as_index = False)["Price"].mean()

##  <font color='#99004C'> 30. How to join two dataframes by 2 columns so they have only the common rows? </font>
>Join dataframes `df1` and `df2` by `fruit-pazham` and `weight-kilo`.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.random.randint(0, 15, 9)})

df2 = pd.DataFrame({'pazham': ['apple', 'orange', 'pine'] * 2,
                    'kilo': ['high', 'low'] * 3,
                    'price': np.random.randint(0, 15, 6)})

display(df1, df2)

In [ ]:
pd.merge(df1, df2, how='inner', left_on=['fruit', 'weight'], right_on=['pazham', 'kilo'], suffixes=['_left', '_right'])

##  <font color='#99004C'> 31. How to remove rows from a dataframe that are present in another dataframe? </font>
>From `df1`, remove the rows that are present in `df2`. All three columns must be the same.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'orange', 'banana'] * 3,
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': np.arange(9)})

df2 = pd.DataFrame({'fruit': ['apple', 'orange', 'pine'] * 2,
                    'weight': ['high', 'medium'] * 3,
                    'price': np.arange(6)})

display(df1, df2)

In [ ]:
df1[~df1.isin(df2).all(1)]

##  <font color='#99004C'> 32. How to get the positions where values of two columns match? </font>

In [ ]:
df = pd.DataFrame({'fruit1': np.random.choice(['apple', 'orange', 'banana'], 10),
                    'fruit2': np.random.choice(['apple', 'orange', 'banana'], 10)})

display(df)
np.where(df.fruit1 == df.fruit2)[0].tolist()

##  <font color='#99004C'> 33. How to create lags and leads of a column in a dataframe? </font>
>Create two new columns in `df`, one of which is a `lag1 (shift column a down by 1 row)` of column â€˜aâ€™ and the other is a `lead1 (shift column b up by 1 row)`.

In [ ]:
df = pd.DataFrame(np.random.randint(1, 100, 20).reshape(-1, 4), columns = list('abcd'))

df['a_lag1'] = df['a'].shift() # default arg is 1
df['b_lead1'] = df['b'].shift(-1)
df

##  <font color='#99004C'> 34. How to extract the row and column of a particular cell with given criterion? </font>
>Which `Manufacturer`, `Model` and `CarType` has the highest `Price`? What is the row and column number of the cell with the `highest Price` value?

In [ ]:
# Solution 1
cars[cars.Price == cars.Price.max()][['Manufacturer', 'Model' , 'CarType']]

In [ ]:
# Solution 1
cars.loc[cars.Price == cars.Price.max(),['Manufacturer', 'Model' , 'CarType']]

##  <font color='#99004C'> 35. How to identify the different categorical fields in a dataframe? </font>
> Find the categorical variables in `cars`.

In [ ]:
# Solution 1
cat_cols = list(cars.select_dtypes(include=['object', 'category']).columns)
cat_cols

In [ ]:
# Solution 2
cat_cols = list(set(cars.columns)- set(cars._get_numeric_data().columns))
cat_cols

##  <font color='#99004C'> 36. How to get the cross tabulation of two or more factors in a dataframe? </font>

In [ ]:
pd.crosstab(cars.CarType, cars.Origin)

In [ ]:
pd.crosstab(cars.CarType, [cars.Origin, cars.Manufacturer], rownames=["CarType"], colnames=['Origin', 'Manufacturer'])

##  <font color='#99004C'> 37. How to create pivot table from a dataframe? </font>
>Create a spreadsheet-style pivot table as a DataFrame from `cars`.

In [ ]:
pd.pivot_table(cars, 
               values = ["Fuel_tank_capacity", "Passengers"], 
               index = ["CarType", "Origin"], 
               columns = ["DriveTrain"], 
               aggfunc = np.median, 
               fill_value= 0)

##  <font color='#99004C'> 38. How to create one-hot encodings of a categorical variable (dummy variables)? </font>
>Get one-hot encodings for column `CarType` in the dataframe `cars`.

In [ ]:
cars.CarType.value_counts()

In [ ]:
car_types = pd.concat([cars.CarType, pd.get_dummies(cars.CarType)], axis=1)
display(car_types)

##  <font color='#99004C'> 39. How to create a new column that contains the row number of nearest row by euclidean distance? </font>
>Create a new column such that, each row contains the row number of `nearest row-record(nearest neighbour)` by euclidean distance.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df

In [ ]:
from scipy.spatial.distance import euclidean

nearest_rows = []
nearest_distance = []

# iterate over rows
for i, row in df.iterrows():
    curr = row # current row
    rest = df.drop(i) # remaining rows in df
    e_dists = {}  # init dict to store euclidean dists for current row.
    # iterate rest of rows for current row
    for j, neighbour in rest.iterrows():
        e_dists.update({j : euclidean(curr.values, neighbour.values)})
#     print(e_dists)
    nearest_rows.append(min(e_dists, key=e_dists.get))
    nearest_distance.append(min(e_dists.values()))
    
df['nearest_row'] = nearest_rows
df['dist'] = nearest_distance
df

##  <font color='#99004C'> 40. How to create a column containing the minimum  of each row? </font>
>Compute the `minimum value in each row` of `df`.

In [ ]:
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df

In [ ]:
df['row_min'] = df.apply(min, axis = 1)
df

##  <font color='#99004C'> 41. How to replace missing values of categorical variable? </font>
> Replace missing values in categorical fields in `cars` with respective modes.

In [ ]:
cat_cols = list(cars.select_dtypes(include=['object', 'category']).columns)
cat_cols

In [ ]:
cars[cat_cols].isnull().sum()

In [ ]:
cars[cat_cols].apply(lambda x: x.fillna(x.value_counts().index[0]))

In [ ]:
cars1['CarType'].value_counts()

##  <font color='#99004C'> 42. How to typecast a variable in a dataframe? </font>
>Typecast all categorical variables in `cars` as `category`.

In [ ]:
cars1 = cars.copy()

categorical_cols = ["CarType", "Origin", "DriveTrain"]
cars1[categorical_cols] = cars1[categorical_cols].astype('category')

In [ ]:
cars1.dtypes

##  <font color='#99004C'> 43. How to get summary stats of categorical fields? </font>

In [ ]:
cars1.describe(include=['category']).T

##  <font color='#99004C'> 44. How to label encode categorical fields? </font>

In [ ]:
car_type_labeled = cars1.CarType.cat.codes
pd.concat([cars1.CarType, car_type_labeled], axis = 1)

##  <font color='#99004C'> 45. How to split a column containing sequences to multiple columns? </font>

In [ ]:
d = [{"a": "46", "b": "3", "c": "12"}, {"a": "36", "b": "5", "c": "8"},{"b": "2", "c": "7"}, {"c": "11"}, {"a": "82", "c": "15"}]

df = pd.DataFrame(zip([101,102,103,104,105], d), columns = ['ID', 'cols'])
df

In [ ]:
# Solution 1
df1 = pd.concat([df['ID'],df['cols'].apply(pd.Series)], axis = 1)
df1

In [ ]:
# Solution 2
pd.concat([df.drop(['cols'], axis = 1), pd.json_normalize(df['cols'])], axis = 1)

##  <font color='#99004C'> 46. How to handle duplicates in dataframe? </font>
>Drop duplicates by specific/all columns.

In [ ]:
df1 = pd.DataFrame({'fruit': ['apple', 'banana', 'orange', 'apple', 'banana', 'banana', 'orange', 'orange', 'orange'],
                    'weight': ['high', 'medium', 'low'] * 3,
                    'price': [11, 9, 13, 11, 11, 3, 12, 9, 13]})
df1

In [ ]:
# drop duplicates by a subset of columns
df1.drop_duplicates(subset = ['fruit', 'weight'])

In [ ]:
# drop duplicates by all columns
df1.drop_duplicates(keep = 'last')

##  <font color='#99004C'> 47. How to select rows based on conditions on multiple columns? </font>
>Get all rows for which `Price` is `greater than 30` and `CarType` is `Midsize in the dataframe `cars`.

In [ ]:
cars[(cars.Price > 30) & (cars.CarType == 'Midsize')]

##  <font color='#99004C'> 48. How to apply user-defined function on dataframe columns? </font>

In [ ]:
def capacity(val):
    return 'Small Tank' if val < 13 else 'Medium Tank' if val < 18 else 'Large Tank'

In [ ]:
cars.Fuel_tank_capacity.apply(capacity)

In [ ]:
pd.concat([cars.Fuel_tank_capacity,cars.Fuel_tank_capacity.apply(capacity)], axis =1)

## <font color='#000033'> Matplotlib </font>

>**Matplotlib** is probably the single most used Python package for 2D-graphics. It provides both a very quick way to visualize data from Python and publication-quality figures in many formats.
 The most used module of Matplotib is **pyplot** which provides a convenient interface to the matplotlib object-oriented plotting library. 
 
Another great thing about pandas is that it integrates with Matplotlib, so you get the ability to plot DataFrames and Series directly. We use the standard convention for referencing the matplotlib API. To get started we need to import Matplotlib.

In [ ]:
import matplotlib.pyplot as plt

# to display plots in line 
%matplotlib inline    

# set font and plot size to be larger
plt.rcParams.update({'font.size': 20, 'figure.figsize': (10, 8)})

##  <font color='#99004C'> Explorator Data Analysis (EDA) </font>

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/selva86/datasets/master/BostonHousing.csv")

# Print first 5 rows of df
df.head()

>This data frame contains the following columns:

**crim** : per capita crime rate by town.

**zn** : proportion of residential land zoned for lots over 25,000 sq.ft.

**indus** : proportion of non-retail business acres per town.

**chas** : Charles River dummy variable (= 1 if tract bounds river; 0 otherwise).

**nox** : nitrogen oxides concentration (parts per 10 million).

**rm** : average number of rooms per dwelling.

**age** : proportion of owner-occupied units built prior to 1940.

**dis** : weighted mean of distances to five Boston employment centres.

**rad** : index of accessibility to radial highways.

**tax** : full-value property-tax rate per $10000.

**ptratio** : pupil-teacher ratio by town.

**b** : 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town.

**lstat** : lower status of the population (percent).

**medv** : median value of owner-occupied homes in \$1000s.

In [ ]:
# Dimension
df.shape

In [ ]:
# Get a concise summary of data
df.info()

In [ ]:
# columns
df.columns

In [ ]:
# get summary statistics of data, numeric variables 
df.describe().T

In [ ]:
# get summary statistics of data, categorical variables 
#df.describe(include=['O'])

In [ ]:
# Check is there is null value
df.isnull().sum()

In [ ]:
# Drop null values
df.dropna(inplace = True)

In [ ]:
# Check dimension of df after dropping obs with missing values
df.shape

In [ ]:
plt.hist(df['medv'], bins = 30)
plt.title('Distribution of Median median value of owner-occupied homes')
plt.plot()

In [ ]:
plt.bar(df.crim,df.medv)
plt.xlabel('Crime Rate')
plt.ylabel('Price of the House')
plt.title('Crime rate vs Price of house')
plt.plot()

In [ ]:
plt.bar(df.nox,df.medv)
plt.xlabel('Nitric Oxide concentration')
plt.ylabel('Price of the House')
plt.title('Nitric Oxide concentration vs Price of house')
plt.plot()

Variables `crim`, `zn`, `rm` and `b` have a large difference between their median and mean which indicates lot of outliers in respective variables.

In [ ]:
plt.hist(df.b)

In [ ]:
df.boxplot(column=['crim', 'zn', 'rm', 'b'])

In [ ]:
f = plt.figure(figsize=(19, 15))
plt.matshow(df.corr(), fignum=f.number)
plt.xticks(range(df.shape[1]), df.columns, fontsize=14, rotation=45)
plt.yticks(range(df.shape[1]), df.columns, fontsize=14)
cb = plt.colorbar()
cb.ax.tick_params(labelsize=14)
plt.title('Correlation Matrix', fontsize=16);